# Project - Data Cleaning

## Introduction
In this lab, we'll make use of everything we've learned about pandas, data cleaning, and Exploratory Data Analysis. In order to complete this lab, you'll have to make import, clean, combine, reshape, and visualize data to answer questions provided, as well as your own questions!

## Objectives
You will be able to:
* Show mastery of the content covered in this section

## The Dataset
In this lab, we'll work with the comprehensive [Super Heroes Dataset](https://www.kaggle.com/claudiodavi/superhero-set/data), which can be found on Kaggle!

## Goals
* Use all available pandas knowledge to clean the dataset and deal with null values
* Use Queries and aggregations to group the data into interesting subsets as needed
* Use descriptive statistics and data visualization to find answers to questions we may have about the data. 

## Getting Started

In the cell below:

* Import and alias pandas as `pd`
* Import and alias numpy as `np`
* Import and alias seaborn as `sns`
* Import and alias matplotlib.pyplot as `plt`
* Set matplotlib visualizations to display inline in the notebook

In [58]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

For this lab, our dataset is split among two different sources--`heroes_information.csv` and `super_hero_powers.csv`.

Use pandas to read in each file and store them in DataFrames in the appropriate variables below. Then, display the head of each to ensure that everything loaded correctly.

In [59]:
#read in csvs
heroes_df = pd.read_csv("heroes_information.csv")
powers_df = pd.read_csv("super_hero_powers.csv")

In [60]:
#display head of heroes_df
heroes_df.head()

,Unnamed: 0,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0

In [61]:
#display head of powers_df
powers_df.head()

,hero_names,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,3-D Man,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,True,True,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

It looks as if the heroes information dataset contained an index column.  We did not specify that this dataset contained an index column, because we hadn't seen it yet. Pandas does not know how to tell apart an index column from any other data, so it stored it with the column name `Unnamed: 0`.  

Our DataFrame provided row indices by default, so this column is not needed.  Drop it from the DataFrame in place in the cell below, and then display the head of `heroes_df` to ensure that it worked properly.

In [62]:
heroes_df.drop("Unnamed: 0", axis = 1, inplace = True)
heroes_df.head()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0

## Familiarize Yourself With the Dataset

The first step in our Exploratory Data Analysis will be to get familiar with the data.  This step includes:

* Understanding the dimensionality of your dataset
* Investigating what type of data it contains, and the data types used to store it
* Discovering how missing values are encoded, and how many there are
* Getting a feel for what information it does and doesnt contain

In the cell below, get the descriptive statistics of each DataFrame.

In [63]:
#print info for heroes_df
heroes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 734 entries, 0 to 733
Data columns (total 10 columns):
name          734 non-null object
Gender        734 non-null object
Eye color     734 non-null object
Race          734 non-null object
Hair color    734 non-null object
Height        734 non-null float64
Publisher     719 non-null object
Skin color    734 non-null object
Alignment     734 non-null object
Weight        732 non-null float64
dtypes: float64(2), object(8)
memory usage: 57.4+ KB

In [64]:
#print desc stats for heroes_df
heroes_df.describe()

           Height      Weight
count  734.000000  732.000000
mean   102.254087   43.855191
std    139.624543  130.823733
min    -99.000000  -99.000000
25%    -99.000000  -99.000000
50%    175.000000   62.000000
75%    185.000000   90.000000
max    975.000000  900.000000

In [65]:
#print info for powers
powers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Columns: 168 entries, hero_names to Omniscient
dtypes: bool(167), object(1)
memory usage: 114.1+ KB

In [66]:
#describe powers
powers_df.describe()

,hero_names,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
count,667,667,667,667,667,667,667,667,667,667,...,667,667,667,667,667,667,667,667,667,667
unique,667,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
top,Savage Dragon,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
freq,1,425,489,656,642,620,410,541,590,455,...,653,651,665,658,666,666,666,665,665,665

In [67]:
#how many columns in powers?
len(powers_df.columns)

168

## Dealing with Null Values

Starting in the cell below, detect and deal with any null values in either data frame.  Then, explain your methodology for detecting and dealing with outliers in the markdown section below.  Be sure to explain your strategy for dealing with null values in numeric columns, as well as your strategy for dealing with null values in non-numeric columns.  

Note that if you need to add more cells to write code in, you can do this by:

**1.** Highlighting a cell and then pressing `ESC` to enter command mode.  
**2.** Press `A` to add a cell above the highlighted cell, or `B` to add a cell below the highlighted cell. 

Describe your strategy below this line:
____________________________________________________________________________________________________________________________

First, I will check the columns of each dataframe to discover which columns have nulls and how many. 

For numericals with nulls, I will check the percentage of rows with nulls. If high, I will remove that column. If low, I will look at the descriptive stats for that column and decide whether to impute the mean or median or remove the null rows.

For categoricals, I will count how many of each category are in the dataset. If low amount of nulls, I could either remove the rows or I could keep the nulls as a separate category understanding this could introduce noise into the data. It really depends on what the column is conveying. If there are lots of nulls, I'd probably drop the column.

What columns in each df have null values?

In [68]:
#null count for heroes
heroes_df.isna().sum()

name           0
Gender         0
Eye color      0
Race           0
Hair color     0
Height         0
Publisher     15
Skin color     0
Alignment      0
Weight         2
dtype: int64

In [69]:
#null count for powers - since there are 168 columns and are boolean
#check each column for nulls and add to list if it has nulls

null_cols = []
for col in powers_df.columns:
    if powers_df[col].isna().sum() == 0:
        continue
    else:
        null_cols.append(col)

null_cols

[]

Only `heroes_df` has nulls, so we'll focus there

In [70]:
#pct of rows that are null
heroes_df.Weight.isna().sum()/len(heroes_df.Weight)*100

0.2724795640326975

Only 0.2% of rows are missing weight, so drop it

In [71]:
#drop null rows in weight
heroes_df.dropna(axis=0, subset=['Weight'], inplace = True)

In [72]:
#check they dropped
heroes_df.isna().sum()

name           0
Gender         0
Eye color      0
Race           0
Hair color     0
Height         0
Publisher     13
Skin color     0
Alignment      0
Weight         0
dtype: int64

In [73]:
#get unique values for Publisher
heroes_df.Publisher.value_counts(dropna=False)

Marvel Comics        388
DC Comics            215
NBC - Heroes          19
Dark Horse Comics     18
George Lucas          14
Image Comics          14
NaN                   13
HarperCollins          6
Star Trek              6
SyFy                   5
Team Epic TV           5
ABC Studios            4
Icon Comics            4
Shueisha               4
IDW Publishing         4
Wildstorm              3
Sony Pictures          2
Universal Studios      1
Rebellion              1
South Park             1
Microsoft              1
J. K. Rowling          1
Hanna-Barbera          1
Titan Books            1
J. R. R. Tolkien       1
Name: Publisher, dtype: int64

Look at rows with NaN publisher

In [74]:
#get 13 rows with publisher = nan
heroes_df[heroes_df.Publisher.isnull()]

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
46,Astro Boy,Male,brown,-,Black,-99.0,NaN,-,good,-99.0
86,Bionic Woman,Female,blue,Cyborg,Black,-99.0,NaN,-,good,-99.0
138,Brundlefly,Male,-,Mutant,-,193.0,NaN,-,-,-99.0
175,Chuck Norris,Male,-,-,-,178.0,NaN,-,good,-99.0
204,Darkside,-,-,-,-,-99.0,NaN,-,bad,-99.0
244,Ethan Hunt,Male,brown,Human,Brown,168.0,NaN,-,good,-99.0
263,Flash Gordon,Male,-,-,-,-99.0,NaN,-,good,-99.0
348,Jack Bauer,Male,-,-,-,-99.0,NaN,-,good,-99.0
354,Jason Bourne,Male,-,Human,-,-99.0,NaN,-,good,-99.0
381,Katniss Everdeen,Female,-,Human,-,-99.0,NaN,-,good,-99.0
393,Kool-Aid Man,Male,black,-,No Hair,-99.0,NaN,red,good,-99.0
542,Rambo,Male,brown,Human,Black,178.0,NaN,-,good,83.0
658,The Cape,Male,-,-,-,-99.0,NaN,-,good,-99.0

I'm going to keep these NaNs as a separate category

In [75]:
#replace NaN with 'missing'
heroes_df.Publisher.fillna('missing', inplace = True)
heroes_df.isna().sum()

name          0
Gender        0
Eye color     0
Race          0
Hair color    0
Height        0
Publisher     0
Skin color    0
Alignment     0
Weight        0
dtype: int64

In [76]:
#check why some rows have height and weight = -99
heroes_df.describe()

           Height      Weight
count  732.000000  732.000000
mean   102.344262   43.855191
std    139.790036  130.823733
min    -99.000000  -99.000000
25%    -99.000000  -99.000000
50%    175.000000   62.000000
75%    185.000000   90.000000
max    975.000000  900.000000

In [77]:
#how many rows have height or weight = -99
len(heroes_df[(heroes_df['Weight']==-99) | (heroes_df['Height']==-99)])

242

In [78]:
#how many individually?
print(f'Rows with weight = 99: {len(heroes_df[(heroes_df["Weight"]==-99)])}')
print(f'Pct of rows with weight = 99: {len(heroes_df[(heroes_df["Weight"]==-99)])/len(heroes_df.Weight)}\n')
print(f'Rows with height = 99: {len(heroes_df[(heroes_df["Height"]==-99)])}')
print(f'Pct of rows with height = 99: {len(heroes_df[(heroes_df["Height"]==-99)])/len(heroes_df.Height)}\n')

Rows with weight = 99: 237
Pct of rows with weight = 99: 0.3237704918032787

Rows with height = 99: 217
Pct of rows with height = 99: 0.296448087431694

This is a lot of placeholder values and would introduce too much noise if i imputed the mean or median

In [79]:
#drop height and weight columns
heroes_df.drop(axis=1, columns=['Height','Weight'], inplace = True)
heroes_df.head()

,name,Gender,Eye color,Race,Hair color,Publisher,Skin color,Alignment
0,A-Bomb,Male,yellow,Human,No Hair,Marvel Comics,-,good
1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,Dark Horse Comics,blue,good
2,Abin Sur,Male,blue,Ungaran,No Hair,DC Comics,red,good
3,Abomination,Male,green,Human / Radiation,No Hair,Marvel Comics,-,bad
4,Abraxas,Male,blue,Cosmic Entity,Black,Marvel Comics,-,bad

In [80]:
#let's now run through the rest of the variables to check any weird values
for col in heroes_df.columns:
    print(f'{col}: \n {heroes_df[col].value_counts()}\n')

name:
 Spider-Man         3
Goliath            3
Batgirl            2
Batman             2
Atlas              2
Blue Beetle        2
Blizzard           2
Vindicator         2
Black Canary       2
Atom               2
Speedy             2
Captain Marvel     2
Nova               2
Namor              2
Angel              2
Toxin              2
Firestorm          2
Century            1
Han Solo           1
Brundlefly         1
Danny Cooper       1
Green Goblin II    1
Guardian           1
Phantom Girl       1
Spawn              1
Ariel              1
Galactus           1
Solomon Grundy     1
Proto-Goblin       1
Flash III          1
                  ..
Domino             1
Rey                1
Meteorite          1
Blob               1
Angel Salvadore    1
Elektra            1
Iron Fist          1
Master Brood       1
Thor               1
Power Girl         1
K-2SO              1
Cecilia Reyes      1
Batwoman V         1
Bantam             1
Bushido            1
Misfit             1
Magog              1
Siryn              1
Sabretooth         1
Batgirl III        1
Mera               1
Parademon          1
Shadow Lass        1
X-23               1
Crystal            1
Carnage            1
Superboy-Prime     1
John Stewart       1
Abe Sapien         1
Kid Flash          1
Name: name, Length: 713, dtype: int64

Gender:
 Male      504
Female    200
-          28
Name: Gender, dtype: int64

Eye color:
 blue                       225
-                          171
brown                      126
green                       73
red                         46
black                       23
yellow                      18
white                       17
grey                         6
hazel                        6
purple                       4
gold                         3
amber                        2
yellow (without irises)      2
violet                       2
indigo                       1
yellow / blue                1
green / blue                 1
blue / white                 1
yellow / red                 1
silver                       1
bown                         1
white / red                  1
Name: Eye color, dtype: int64

Race:
 -                     304
Human                 208
Mutant                 63
God / Eternal          14
Cyborg                 11
Human / Radiation      11
Android                 9
Symbiote                9
Kryptonian              7
Alien                   7
Demon                   6
Atlantean               5
Asgardian               5
Alpha                   5
Inhuman                 4
Cosmic Entity           4
Human / Altered         3
Animal                  3
New God                 3
Eternal                 2
Frost Giant             2
Metahuman               2
Amazon                  2
Human / Cosmic          2
Saiyan                  2
Demi-God                2
Vampire                 2
Human-Kree              2
Rodian                  1
Ungaran                 1
                     ...
Human / Clone           1
Flora Colossus          1
Mutant / Clone          1
Maiar                   1
Clone                   1
Strontian               1
Human-Vuldarian         1
Talokite                1
Dathomirian Zabrak      1
Planet                  1
Icthyo Sapien           1
Martian                 1
Korugaran               1
Human-Vulcan            1
Bolovaxian              1
Kakarantharaian         1
Yoda's species          1
Parademon               1
Gungan                  1
Spartoi                 1
Czarnian                1
Yautja                  1
Bizarro                 1
Human-Spartoi           1
Zen-Whoberian           1
Gorilla                 1
Zombie                  1
Tamaranean              1
Neyaphem                1
Xenomorph XX121         1
Name: Race, Length: 61, dtype: int64

Hair color:
 -                   171
Black               157
Blond                99
Brown                86
No Hair              75
Red                  51
White                23
Auburn               13
Green                 8
Strawberry Blond      7
Purple                5
Grey                  5
Brown / White         4
Silver                4
black                 3
Blue                  3
blond                 3
Yellow                2
Orange                2
Pink                  1
Black / Blue          1
Brownn                1
Red / Orange          1
Red / White           1
Magenta               1
Indigo                1
Red / Grey            1
Orange / White        1
Brown / Black         1
Gold                  1
Name: Hair color, dtype: int64

Publisher:
 Marvel Comics        388
DC Comics            215
NBC - Heroes          19
Dark Horse Comics     18
George Lucas          14
Image Comics          14
missing               13
HarperCollins          6
Star Trek              6
SyFy                   5
Team Epic TV           5
Shueisha               4
Icon Comics            4
ABC Studios            4
IDW Publishing         4
Wildstorm              3
Sony Pictures          2
Titan Books            1
J. K. Rowling          1
South Park             1
Rebellion              1
J. R. R. Tolkien       1
Universal Studios      1
Microsoft              1
Hanna-Barbera          1
Name: Publisher, dtype: int64

Skin color:
 -                 661
green              21
blue                9
red                 9
white               7
silver              5
grey                4
gold                3
purple              3
pink                2
yellow              2
blue-white          1
orange / white      1
orange              1
gray                1
red / black         1
black               1
Name: Skin color, dtype: int64

Alignment:
 good       495
bad        206
neutral     24
-            7
Name: Alignment, dtype: int64

There are a number of columns using something else as a placeholder after scanning unique values

In [81]:
#list columns to check that have '-' entry
cols = ['Gender', 'Eye color', 'Race', 'Hair color', 'Skin color', 'Alignment']

In [82]:
#iterate over each col to get num and pct of rows == '-'
for col in cols:
    print(col)
    print(f'Pct: {len(heroes_df[heroes_df[col]=="-"])/len(heroes_df[col])}')
    print(f'Num rows: {len(heroes_df[heroes_df[col]=="-"])}\n')

Gender
Pct: 0.03825136612021858
Num rows: 28

Eye color
Pct: 0.2336065573770492
Num rows: 171

Race
Pct: 0.41530054644808745
Num rows: 304

Hair color
Pct: 0.2336065573770492
Num rows: 171

Skin color
Pct: 0.9030054644808743
Num rows: 661

Alignment
Pct: 0.009562841530054645
Num rows: 7

For **eye color**, **race**, **hair color**, and **skin color**, there are too many missing values to throw out the rows, but getting rid of these gets rid of most of our data, so keep the nulls as a separate category. For **gender**, it's plausible that a hero doesn't fit in to a binary gender, so keep nulls here too. Null **Alignments** only make up 7 rows, so I will drop those rows.

In [83]:
#change "-" to "missing" for eye color, hair color, skin color, gender and race
cols_to_missing = ['Gender', 'Eye color', 'Race', 'Hair color', 'Skin color']
for col in cols_to_missing:
    heroes_df[col] = heroes_df[col].map(lambda x: "missing" if x=="-" else x)

In [84]:
#drop rows = '-'' in Alignment
heroes_df = heroes_df[heroes_df['Alignment']!="-"]

In [86]:
#iterate over each col again to check
for col in cols:
    print(col)
    print(f'Pct: {len(heroes_df[heroes_df[col]=="-"])/len(heroes_df[col])}')
    print(f'Num rows: {len(heroes_df[heroes_df[col]=="-"])}\n')

Gender
Pct: 0.0
Num rows: 0

Eye color
Pct: 0.0
Num rows: 0

Race
Pct: 0.0
Num rows: 0

Hair color
Pct: 0.0
Num rows: 0

Skin color
Pct: 0.0
Num rows: 0

Alignment
Pct: 0.0
Num rows: 0

In [87]:
#check head 
heroes_df.head()

,name,Gender,Eye color,Race,Hair color,Publisher,Skin color,Alignment
0,A-Bomb,Male,yellow,Human,No Hair,Marvel Comics,missing,good
1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,Dark Horse Comics,blue,good
2,Abin Sur,Male,blue,Ungaran,No Hair,DC Comics,red,good
3,Abomination,Male,green,Human / Radiation,No Hair,Marvel Comics,missing,bad
4,Abraxas,Male,blue,Cosmic Entity,Black,Marvel Comics,missing,bad

In [88]:
#check tail
heroes_df.tail()

,name,Gender,Eye color,Race,Hair color,Publisher,Skin color,Alignment
729,Yellowjacket II,Female,blue,Human,Strawberry Blond,Marvel Comics,missing,good
730,Ymir,Male,white,Frost Giant,No Hair,Marvel Comics,white,good
731,Yoda,Male,brown,Yoda's species,White,George Lucas,green,good
732,Zatanna,Female,blue,Human,Black,DC Comics,missing,good
733,Zoom,Male,red,missing,Brown,DC Comics,missing,bad

## Joining, Grouping, and Aggregating

In the cell below, join the two DataFrames.  Think about which sort of join you should use, as well as which columns you should join on.  Rename columns and manipulate as needed.  

**_HINT:_** If the join throws an error message, consider settin the the column you want to join on as the index for each DataFrame.

In [90]:
#set up names column in each as the index to join on
powers_df.set_index("hero_names", inplace = True)
heroes_df.set_index("name", inplace = True)

In [93]:
#left join dfs
heroes_and_powers = heroes_df.join(powers_df, how = 'left')

In [94]:
heroes_and_powers.head()

,Gender,Eye color,Race,Hair color,Publisher,Skin color,Alignment,Agility,Accelerated Healing,Lantern Power Ring,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
A-Bomb,Male,yellow,Human,No Hair,Marvel Comics,missing,good,False,True,False,...,False,False,False,False,False,False,False,False,False,False
Abe Sapien,Male,blue,Icthyo Sapien,No Hair,Dark Horse Comics,blue,good,True,True,False,...,False,False,False,False,False,False,False,False,False,False
Abin Sur,Male,blue,Ungaran,No Hair,DC Comics,red,good,False,False,True,...,False,False,False,False,False,False,False,False,False,False
Abomination,Male,green,Human / Radiation,No Hair,Marvel Comics,missing,bad,False,True,False,...,False,False,False,False,False,False,False,False,False,False
Abraxas,Male,blue,Cosmic Entity,Black,Marvel Comics,missing,bad,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In the cell below, subset male and female heroes into different dataframes.  Create a scatterplot of the height and weight of each hero, with weight as the y-axis.  Plot both the male and female heroes subset into each dataframe, and make the color for each point in the scatterplot correspond to the gender of the superhero.

## Some Initial Investigation

Next, slice the DataFrame as needed and visualize the distribution of heights and weights by gender.  You should have 4 total plots.  

In the cell below:

* Slice the DataFrame into separate DataFrames by gender
* Complete the `show_distplot` function.  This helper function should take in a DataFrame, a string containing the gender we want to visualize, and and the column name we want to visualize by gender. The function should display a distplot visualization from seaborn of the column/gender combination.  

Hint: Don't forget to check the [seaborn documentation for distplot](https://seaborn.pydata.org/generated/seaborn.distplot.html) if you have questions about how to use it correctly!

In [ ]:
male_heroes_df = None
female_heroes_df = None

def show_distplot(dataframe, gender, column_name):
    pass

In [ ]:
# Male Height

In [ ]:
# Male Weight

In [ ]:
# Female Height

In [ ]:
# Female Weight

Discuss your findings from the plots above, with respect to the distibution of height and weight by gender.  Your explanation should include discussion of any relevant summary statistics, including mean, median, mode, and the overall shape of each distribution.  

Wite your answer below this line:
____________________________________________________________________________________________________________________________

### Sample Question: Most Common Powers

The rest of this notebook will be left to you to investigate the dataset by formulating your own questions, and then seeking answers using pandas and numpy.  Every answer should include some sort of visualization, when appropriate. Before moving on to formulating your own questions, use the dataset to answer the following questions about superhero powers:

* What are the 5 most common powers overall?
* What are the 5 most common powers in the Marvel Universe?
* What are the 5 most common powers in the DC Universe?

Analyze the results you found above to answer the following question:

How do the top 5 powers in the Marvel and DC universes compare?  Are they similar, or are there significant differences? How do they compare to the overall trends in the entire Superheroes dataset?

Wite your answer below this line:
____________________________________________________________________________________________________________________________


### Your Own Investigation

For the remainder of this lab, you'll be focusing on coming up with and answering your own question, just like we did above.  Your question should not be overly simple, and should require both descriptive statistics and data visualization to answer.  In case you're unsure of what questions to ask, some sample questions have been provided below.

Pick one of the following questions to investigate and answer, or come up with one of your own!

* Which powers have the highest chance of co-occuring in a hero (e.g. super strength and flight), and does this differ by gender?
* Is there a relationship between a hero's height and weight and their powerset?
* What is the distribution of skin colors amongst alien heroes?

Explain your question below this line:
____________________________________________________________________________________________________________________________



Some sample cells have been provided to give you room to work. If you need to create more cells, you can do this easily by:

1. Highlighting a cell and then pressing `esc` to enter command mode.
1. Pressing `b` to add a cell below the currently highlighted cell, or `a` to add one above it.  

Be sure to include thoughtful, well-labeled visualizations to back up your analysis!

## Summary

In this lab, we demonstrated our mastery of:
* Using all of our Pandas knowledge to date to clean the dataset and deal with null values
* Using Queries and aggregations to group the data into interesting subsets as needed
* Using descriptive statistics and data visualization to find answers to questions we may have about the data